:root {
    --main-bg-color: #E5C687;
    --main-text-color: #50382B;
    --link-color: #5776B2;
    --link-hover-color: #1d386a;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Tahoma, sans-serif;
    font-size: 120%;
    margin: 0 auto;
    text-align: center;
}

header {
    margin: 0 auto;
    padding: 1em 0 1em 0;
    text-align: center;
    width: 95%;
}

.separator {
    border: none;
    border-top: 1.8px solid var(--main-text-color);
    margin: 6px auto 3px auto;
    min-width: 240px;
    width: 40%;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color); 
}

main {
    margin: 0 auto;
    max-width: 1200px;
    text-align: left;
}

h1 {
    margin: 0;
    margin-bottom: 15px;
}

h2 {
    margin: 0;
    text-align: center;
}

h3 {
    margin-bottom: 0;
    text-align: center;
}

img {
    width: 60%; 
}

figure {
    margin: 0;
    max-width: 100%;
    overflow-x: auto;
    text-align: center;
}
figure > img {
    margin: 20px auto 10px auto;
    max-height: 350px;
    width: auto;
}
figcaption {
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}

.employees {
    display: flex;
    justify-content: center;
}

ol {
    margin-bottom: 5px;
    margin-top: 5px;
}

table {
    margin: 0 auto;
    margin-bottom: 2em;
    max-width: 100%;
    overflow-x: auto;
}
thead {
    background-color: #35251D;
    color: var(--main-bg-color);
}
.table-category {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
td, th {
    border: 1px solid;
    border-color: var(--main-text-color);
    padding: 5px;
    text-align: left;
}
tr:nth-child(odd):not(:first-child) {
    background-color: var(--main-bg-color);
}
tr:nth-child(even) {
    background-color: var(--main-text-color);
    color: var(--main-bg-color)
}

form {
    align-items: center;
    border: 2px solid var(--main-text-color);
    border-color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    margin: 20px auto 20px auto;
    padding: 1em 1.2em .4em 1.2em;
    width: 40%;
}
fieldset {
    border: none;
    margin: 5px auto 5px auto;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

#phone {
    width: 120px;

}
#email {
    width: 179px;
}

button {
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    cursor: pointer;
    margin: 10px 0 10px 0;
    padding: 7px 14px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
}

.greetingSection, .polygonSection, .cardSection {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}
.greetingSection > input, .polygonSection > input {
    margin: 5px 0 15px 0;
}
.greetingSection > button, .polygonSection > button {
    display: block;
    margin: 0 auto;
}
.cardSection {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#buttonContainer {
    display: inline-block;
    margin: 0 10px;
}
#buttonContainer > input {
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    cursor: pointer;
    margin: 0 10px 20px 10px;
    padding: 7px 14px;
}
#start-over {
    display: block;
    margin: 0 auto;
}

.calculator_try {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0 auto;
    max-width: 520px;
}
.calculator_try > input {
    margin: 5px 0 10px 0;
}
.calculator_try > .buttons {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    width: 40%;
}
.buttons > button {
    margin-bottom: 5px;
}
.buttons > button:last-child {
    grid-column: span 4;
}

#add-salary {
    margin-top: 20px;
}
.array-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.array-container > * {
    margin-right: 10px;
}
.array-container > :first-child {
    margin-left: auto;
}
.array-container > :last-child {
    margin-right: auto;
}
.array-container #display-buttons {
    flex-direction: row;
}

.toggle-css {
    margin-top: 10px;
}

footer {
    margin: 0 auto;
    padding: 1em 0 1em 0;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 600px) {
    /* Styles for small screens */
    main {
      max-width: 92%;
    }
} 
@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Styles for medium screens */
    main {
      max-width: 80%;
    }
} 
@media screen and (min-width: 1025px) {
    /* Styles for large screens */
    main {
      max-width: 70%;
    }
}