body {
    background-color: #E5C687;
    color: #50382B;
    text-align: center;
    font-family: Tahoma, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    padding: 1em;
    text-align: center;
    width: 100%;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    margin: 0 auto;
    max-width: 1200px;
}

main h2 {
    margin: 0;
    text-align: center;
}

h1 {
    margin: 0;
}

nav > a, p > a {
    color: #5776B2;
    text-decoration: none;
}

nav > a:hover, p > a:hover {
    color: #1d386a; 
}

img {
    width: 60%; 
}

figure {
    margin: 0;
    text-align: center;
}

footer {
    margin-top: auto;
    padding: 1em;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 600px) {
    /* Styles for small screens */
    body {
      max-width: 92%;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Styles for medium screens */
    body {
      max-width: 80%;
    }
  }
  
  @media screen and (min-width: 1025px) {
    /* Styles for large screens */
    body {
      max-width: 70%;
    }
  }