:root {
    --main-bg-color: #E5C687;
    --main-text-color: #50382B;
    --link-color: #5776B2;
    --link-hover-color: #1d386a;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
    font-family: Tahoma, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 120%;
}

header {
    padding: 1em 0 1em 0;
    text-align: center;
    width: 100%;
}

nav > a, p > a {
    color: var(--link-color);
    text-decoration: none;
}

nav > a:hover, p > a:hover {
    color: var(--link-hover-color); 
}

main {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    margin: 0;
    margin-bottom: 15px;
}

main h2 {
    margin: 0;
    text-align: center;
}

h3 {
    text-align: center;
}

img {
    width: 60%; 
}

figure {
    margin: 0;
    text-align: center;
    max-width: 100%;
    overflow-x: auto;
}

figcaption {
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
}

.employees {
    display: flex;
    justify-content: center;
}

table {
    margin: 0 auto;
    margin-bottom: 1em;
    max-width: 100%;
    overflow-x: auto;
}

thead {
    background-color: #35251D;
    color: var(--main-bg-color)
}

.table-category {
    background-color: var(--main-bg-color);
    color: var(--main-text-color)
}

td, th {
    border: 1px solid;
    padding: 5px;
    text-align: left;
    border-color: var(--main-text-color);
}

tr:nth-child(odd):not(:first-child) {
    background-color: var(--main-bg-color);
}

tr:nth-child(even) {
    background-color: var(--main-text-color);
    color: var(--main-bg-color)
}

footer {
    margin-top: auto;
    padding: 1em 0 1em 0;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 600px) {
    /* Styles for small screens */
    body {
      max-width: 92%;
    }
}
  
@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Styles for medium screens */
    body {
      max-width: 80%;
    }
}
  
@media screen and (min-width: 1025px) {
    /* Styles for large screens */
    body {
      max-width: 70%;
    }
}